body {
    font-family: Arial, sans-serif;
    background-size: cover;
    padding: 30px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #050505;
    font-size: 45px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

form {
    background-color: #ffffff7d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    box-sizing: border-box;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

button:hover {
    background-color: #0056b3;
    transition: background-color 0.3s ease;
}

a { 
    color: #f8f7f8;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #f7f4f6;
}

.form-group {
    margin-bottom: 15px;
}

.home-page {
    text-align: center;
    margin-top: 50px;
}

.home-page p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}

.login-signup-page {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-signup-page h1 {
    text-align: center;
    color: #111111;
    margin-bottom: 20px;
}

.login-signup-page form {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}

.login-signup-page input {
    margin-bottom: 15px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.8;
}

ul.flash-message {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
}

ul.flash-message li {
    color: red;
    background-color: #f8d7da;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    form {
        padding: 15px;
        width: 90%;
    }

    button {
        font-size: 14px;
        padding: 10px;
    }

    h1 {
        font-size: 20px;
    }
}
